/*=============================================================================================	
    Company    : PT Web Architect Technology - webarq.com
    Document   : Stylesheet
    Author     : Rizki Nida Chaerulsyah
==============================================================================================*/
@import "sass-lib";

body {  
    color: #333;
    font-size: 12px;
    font-family: "Barlow"; 
    position: relative;
    overflow-x: hidden;
}
figure{
    margin: 0; padding: 0;
    img{vertical-align: middle;}
}
img{ border:0; max-width:100%; height:auto; }
p {
    margin: 1px 0 15px;
    line-height: 20px;
}
input, textarea, select {
    font-size: 12px;
    border: none;
    border: 1px solid #D8D8D8;
    padding: 10px;
    margin: 0;
    color: #666;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    @include boxSizing(border-box);
}
input[type=checkbox], input[type=radio] {
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
}
input[type="number"]::-webkit-outer-spin-button, 
input[type="number"]::-webkit-inner-spin-button  {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    opacity: 0;
}
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
h1 { font-size: 32px; }
h2 { font-size: 28px; }
h3 { font-size: 24px; }
h4 { font-size: 20px; } 
h5 { font-size: 16px; } 
h6 { font-size: 14px; }
/* structure 
----------------------------------------------------------------------------------------------*/
.after_clear:after{content: "";clear: both;display: block;}
section { position: relative; }
.wrapper {width: 1170px;margin: 0 auto;}

.btn-blue{}

h3{font-size:35px;font-weight: 400;margin-bottom:40px;color:#FFF;text-align:center;letter-spacing:3px;
   b{font-weight: 700;}
}
.button{
    width: 133px;height:60px;line-height: 60px;font-size: 20px;font-weight:800;color:#FFF;background: #faa213;text-transform: uppercase;
    text-align: center;
    &:hover{
        background: #47863f;
    }
}

/* header
----------------------------------------------------------------------------------------------*/    
/* middle
----------------------------------------------------------------------------------------------*/
.socmed{
    a{width: 46px;height:46px;border:1px solid #FFF;position:relative;float:left;margin-right:30px;display:block;@include borderRadius(100%);
      img{@extend .absolute-center;}
      &:last-child{margin-right: 0;}
      &:hover{
          background: rgba(255,255,255,0.2);
      }
    }
    &:after{@extend .after_clear;}
}
.banner{
    position:relative;height:0;padding-bottom: 45%;background:url(../images/material/banner.jpg) no-repeat right bottom;background-size:cover;
    .logo{position: absolute;left:0;top:-1px;}
    .text{
        position: absolute;width:600px;@extend .absolute-center;@include boxSizing(border-box);color:#FFF;right:auto;left: 300px;
        text-transform:uppercase;height:395px;
        .logo-piala{position: absolute;left: -185px;top:0;}
        .logo-text{display: block;margin:0 0 30px; }
        i{font-size:20px;font-weight:800;color:#FFF;font-style: italic;letter-spacing: 3px;}
        h2{font-size: 80px;font-weight:700;letter-spacing:10px;line-height:85px;margin:10px 0 20px;
           b{font-weight:700}
        }
        h3{text-align: left;font-style: italic;font-size:40px;line-height: 50px;text-transform: none}
        > a{font-size: 18px;font-weight: 600;color:#FFF;line-height: 34px;padding:0 0 0 55px;display: block;position:relative;
            letter-spacing: 3px;
            &:before{
                content:"";width: 34px;height: 34px;background:url(../images/material/arrow.png) no-repeat;position: absolute;left: 0;@include transition(0.2s ease-out all);
            }
            &:hover:before{
                left: 10px;
            }
        }
    }
    .socmed{margin-top: 50px;}

}

.fight-today{
    padding: 50px 0;
    background: url(../images/material/bg-mid.jpg) no-repeat bottom right;background-size:cover;
    .box-blue{
        margin:70px -95px 30px;background: url(../images/material/bg-blue.jpg) no-repeat center;background-size: cover;@include borderRadius(10px);
        @include boxShadow(0px 0px 30px -10px #000);padding:60px 95px;
        .title{
            h3{float: left;text-align:left;}
            span{float: right;font-size: 20px;font-weight: 700;color:#FFF;letter-spacing: 3px;}
            &:after{@extend .after_clear;}
        }
        .row{
            margin-bottom:50px;padding:30px 0 50px;border-bottom:1px solid #FFF;
            > *{float: left;}
            &:after{@extend .after_clear;}
            &:last-child{padding-bottom: 0;margin-bottom: 0;border:none;}
        }
        .input-text{
            height: 60px;width: 125px;position:relative;margin-right:20px;
            input{width:83px;height:60px;font-size:32px;text-align: center;border:1px solid #999;}
            a{border:1px solid #999;height:29px;position:absolute;top:0;right:0;width:30px;background: #FFF;
              &:after{background: url(../images/material/arrow-2.png) no-repeat top ;width:11px;height: 7px;content:"";@extend .absolute-center;}
              &.min{
                  bottom:0;top:auto;
                  &:after{
                      background-position: bottom;
                  }
              }
              &:hover{
                  background:#eee;
              }
            }
        }
        .vs{
            width: 726px;height:106px;background: url(../images/material/bg-versus.png) no-repeat top;margin-top:-32px;position:relative;
            .bendera{
                width:57px;height:57px;@include borderRadius(100%);overflow:hidden;position:absolute;top:29px;left:19px;
                &.right{right:19px;left:auto;}
            }
            .time{font-size:20px;font-weight: 300;width:240px;@extend .absolute-center;bottom: auto;top:10px;text-align: center;right:-10px;letter-spacing: 3px;}
            .text{width:530px;@extend .absolute-center;top:45px;right:-12px;
                  *{float: left;}
                  .center{width: 195px;text-align: center;font-size:32px;font-weight:800;color:#FFF;}
                  .left,.right{width:167.5px;font-size: 28px;text-transform:uppercase;font-weight: 500;}
                  .left{text-align: right;}
            }

            &.red{background: url(../images/material/bg-versus-2.png)no-repeat top;}
        }

    }
}

.fight-last{
    padding:80px 0;background:#f3f3f3 url(../images/material/bg-bottom.jpg) no-repeat left bottom;
    h3{color:#333;}
    .box{
        float:left;width:500px;margin-right:160px;margin-top:70px;
        h3{padding: 0 0 30px ;border-bottom: 2px solid #faa213;;letter-spacing: 2px;font-size: 28px;}
        &:nth-child(2n){margin-right: 0;}
        .row{
            padding-bottom:35px;border-bottom:1px solid #eee;margin-bottom:35px;position:relative;
            .country{
                padding:0 0 0 65px;display: table;height:57px;position:relative;width:185px;@include boxSizing(border-box);
                .img{width: 57px;height:57px;overflow:hidden;@include borderRadius(100%);position:absolute;left:0;}
                span{display: table-cell;vertical-align: middle;font-size:20px;letter-spacing: 0.4px;font-weight:500;}
                &.right{
                    padding: 0 65px 0 0 ;text-align:right;
                    .img{left: auto;right:0;}
                }
            }
            .res{
                width:130px;text-align:center;@extend .absolute-center;font-size:25px;font-weight:900;
                small{font-size:12px;display: block;margin:0 0 10px 0;font-weight:500;}

            }

            &:after{@extend .after_clear}
        }
    }
}

.col-3{
    .col{width:33.33%;float:left;position: relative;}
    &:after{@extend .after_clear;}
    img{display: block;}
    .countdown{
        @extend .absolute-center;
        .wrap{width: 295px;height:110px;@extend .absolute-center;}
        .box{width:83px;height:110px;float:left;margin-right:20px;
             span{display: block;font-size:48px;font-weight:bold;background: #FFF;width:83px;height:83px;text-align: center;line-height: 83px;}
             small{display: block;font-size:12px;font-weight: 600;text-transform: uppercase;text-align: center;margin:10px 0 0 ;}
             &:last-child{margin-right: 0;}
        }
    }
}

.fav-sec{
    padding:100px;background: url(../images/material/bg-green.jpg) no-repeat top;background-size: cover;
    .title{color:#FFF;text-align: center;position: relative;margin-bottom:60px;
           &:after{content:"";@extend .absolute-center;background: url(../images/material/bg-title.png) no-repeat center;width:1278px;height: 154px;
                   left:-60px;
           }
    }

    h2{font-size: 70px;font-weight: bold;margin-bottom: 10px;}
    h5{font-size: 30px;}

    .slide{
        label{display: block;height: 180px;width:76px;margin: auto;text-align: center;@include transition(0.2s ease-out all);cursor:pointer;
              &.active{
                  img{@include borderRadius(100%);@include boxShadow(0px 0px 30px -5px #000)}
                  @include transform(scale(1.3))
              }
        }
        span{font-size: 18px;color:#FFF;margin:15px 0 0 0 ;opacity:0.7;display: block}
        input{visibility: hidden;opacity: 0;}
    }
    .slick-arrow{
        width:22px;height:33px;@include boxSizing(border-box);padding:0;margin:auto;background:url(../images/material/arrow-slider.png) no-repeat;
        top:0;bottom:0;left:auto;right:auto;border:none;position:absolute;text-indent:-99999px;opacity:0.7;cursor:pointer;
        &.slick-next{background-position: right center;right:-80px}
        &.slick-prev{background-position: left center;left:-80px}
        &:hover{
            opacity: 1;
        }
    }
    .box-form{
        margin:20px auto 0; width:960px;
        label{
            font-size: 25px;color:#FFF;display: block;margin:0 0 10px 0;
        }
        textarea{
            width: 100%;padding:20px 30px;font-size:16px;@include boxShadow(0px 0px 30px -10px #000);height: 160px;
            @include boxSizing(border-box);  
        }
    }
    .img-hero{
        text-align: center;
    }
}

.wrap-form{
    min-height: 100vh;background: url(../images/material/bg-form.jpg) no-repeat left bottom;color:#FFF;background-size:cover;
    .wrapper{width: 1030px;}
    h2{text-transform: uppercase}
    .head{
        height: 130px;background: #FFF;
        .wrapper{
            width: auto;margin:0 160px;@include boxShadow(30px 0px 30px -10px #000); 
        }
        .left{margin:20px 0 0 0;}
        .right{margin:50px 0 0 0;font-size:20px;font-style: italic;color:#000;}
    }
    h2{font-size: 68px;font-weight:300;font-style: italic; text-align: center;line-height: 80px;color:#FFF;letter-spacing:3px;margin:145px 0 40px 0;
       b{font-weight:700}
    }
    h5{font-size: 28px;letter-spacing: 1px;text-align: center;margin:0 0 40px;}
    &:after{@extend .after_clear;}

    .box-form{padding: 0;}
    .voucher-right{
        margin-top:-120px;
        h5{font-size:24px;margin-top: -30px}
    }
}
.box-form{
    padding:0 0 70px 0;
    input[type=text],
    input[type=email]{width:100%;height:50px;font-size:20px;@include borderRadius(10px);}
    label{font-size: 25px;margin:0 0 15px 0;display: block;}
    .row{
        margin:0 0 30px 0;
        .col{width:480px;margin-right:65px;float:left;
             &:nth-child(2n){margin-right: 0;}
        }
        &:after{@extend .after_clear;}
    }
    .button{
        height:50px;font-size:20px;border:none;line-height: 0;cursor: pointer;font-weight:700;
    }
    .button{
        font-size:18px;@include borderRadius(20px);border:1px solid #FFF;color:#333;
    }

}

/* footer
----------------------------------------------------------------------------------------------*/
footer{
    background: #1f1f1f;height:auto;position:relative;padding:25px 0;
    &:after{@extend .after_clear}
    .left,.right a,.right{
        font-size:16px;color:#eee;
    }
    .right{
        a{margin:0}
        span{padding:0 10px;}
    }
    h5{font-weight:bold;margin:30px 0 15px 0}
    .socmed{width:175px;height:48px;
            a{@include transform(scale(0.8));margin-right:15px;}
    }
    .voucher{text-align: right}
}