@import "sass-lib";
@media all and(max-width: 1590px) {

	.banner {
		.text {left: 350px;} 
	}
	.fav-sec { 
		.slick-arrow {
			&.slick-next {right: -60px;}  
		}
	}
	
}

@media all and(max-width: 1360px) { 

	.wrapper {
		width: 940px; 
	}

	.banner {
		.text {
			left: 350px; height: 230px;  
			i {font-size: 14px;}  
			h2 {font-size: 44px; line-height: 42px;}  
			h3 {font-size: 18px; line-height: 30px; margin-bottom: 20px;} 
		}
		.socmed {margin-top: 0px;}
	}
	.fav-sec { 
		padding: 50px 0; 
		.box-form {width: 940px;}  
		.slick-arrow {
			&.slick-prev {left: -25px;} 
			&.slick-next {right: -25px;} 
		}
	}
	.col-3 {
		.countdown {
			.wrap {width: 260px;}   
			.box {
				width: 73px; 
				span {font-size: 35px; width: 73px; height: 73px; line-height: 73px;} 
			}
		}
	}
	.wrap-form {
		.wrapper {
			width: 800px;      
		}
		.head { 
			.wrapper {width: 800px; margin: 0 auto;} 
		}
		h2 {margin: 100px 0 40px 0; font-size: 58px; line-height: 60px;} 
		h5 {font-size: 24px;} 
		.box-form {
			input[type=text],
			input[type=email]{height:45px;font-size:16px;@include borderRadius(6px);}
			label {font-size: 20px;}
			.row {
				.col {width: 367px;} 
			}
			.button {font-size: 16px; height: 45px;}  
			.voucher-right {margin-top: -50px;}   
		}
		
	}
	



	
}