@import "sass-lib";
@media all and(max-width: 1190px) {

	.wrapper {
		width: 720px; 
	}

	.banner {
		height: 394px; @include boxSizing(border-box); padding: 0; 
		.logo {width: 150px;} 
		.text {
			left: 100px; height: 200px; width: 370px; 
			i {font-size: 13px; margin: 15px 0 0 0; display: block;}  
			h2 {margin: 5px 0 10px 0;} 
		} 
	}
	.socmed {
		a {
			width: 24px; height: 23px; margin-right: 17px;
			img {height: 14px;} 
		}  	
	}
	.col-3 {
		.col {
			height: 108px; 
			img {height: 100%; width: 100%; object-fit: cover;}   
		}
		.countdown {
			.wrap {width: 125px; height: 50px;}
			.box {
				width: 35px; height: 50px; margin: 0 8px 0 0;
				span {
					height: 35px; width: 35px; line-height: 35px;  
					font-size: 18px; 
				}
				small {font-size: 9px;}  
			} 
		}
	}
	.fav-sec {
		.wrapper {width: 670px;} 	
		h2 {font-size: 38px;} 
		h5 {font-size: 16px;} 
		.title {
			&:after {
				width:100%; height: 67px; left: 0; background-size: 100% 100%;
			}
		}
		.box-form {
			width: 100%;
			label {font-size: 20px; margin-bottom: 18px;}     
		}   
		.slick-slider {
			.slick-list {margin: 0 40px;} 
		}
		.slick-arrow {
			&.slick-next {right: 0;}
			&.slick-prev {left: 0;}
		}
	}

	.wrap-form {
		.wrapper {width: 670px;} 
		.head {
			.wrapper {width: 670px;}  
		}
		h2 {font-size: 40px; line-height: 45px; width: 500px; margin:80px auto 10px auto;}
		h5 {font-size: 18px; width: 500px; margin: auto;} 
		.box-form {
			padding: 50px 0 0 0;    
			input[type=text],
			input[type=email]{height:40px;font-size:16px;@include borderRadius(15px);}
			.button {@include borderRadius(15px);}   
			.row {
				.col {
					width: 302px;  
				}
			}
		}
		.voucher-right {
			width: 670px; padding: 0 0 60px 0;
			float: none; margin: auto; display: block; text-align: center; 
		}
	}
	

	footer{
		.left,.right a,.right{
	        font-size:14px;
	    }
	    h5 {font-size: 14px;}
	    .socmed {
	    	a {width: 36px; height: 36px; margin-right: 15px;} 
	    }
	}
	



	
}