@import "sass-lib";
@media all and(max-width: 1190px) {

	.wrapper {
		width: auto; margin: 0 20px;  
	}
	.banner {
		height: 420px; background-position: 90% center;     
		.logo {width: 122px;} 
		.text {
			width: 220px; height: 200px; margin: auto; left: 0; top: 0; bottom: 0; right: 0;
			text-align: center; 
			i {font-size: 10px; letter-spacing: 1.5px;}
			h2 {font-size: 28px; line-height: 30px; letter-spacing: 2px;}
			h3 {
				font-size: 14px; line-height: 16px; text-align: center; letter-spacing: 2px; 
			}
		} 
		.socmed {display: none;}     
	}
	.col-3 {
		.col {
			width: 100%; height: auto; 
		}
		.countdown {
			.wrap {width: 170px; height: 70px;}  
			.box {
				width: 50px; height: 50px;
				span {width: 50px; height: 50px; line-height: 50px; font-size: 22px;} 
				small {font-size: 10px;} 
			}
		}
	}
	.fav-sec {
		padding: 30px 0; 
		h2 {font-size: 30px;}
		h5 {font-size: 14px; padding: 0 55px;}
		.title {
			padding-bottom: 0px; margin-bottom: 20px; 
			&:after {height:40px; margin: -40px 0 0 0; top: 100%;} 
		}
		.wrapper {
			width: auto; margin:0 20px; 
		}
		.slick-slider {
			.slick-list {margin: 0 20px;}   
		}
		.slide {
			span {font-size: 13px; margin: 13px 0 0 0;}  
			label {
				width: 50px; height: 115px; 
			}
		}
		.slick-arrow {
			width: 15px; height: 20px; background-size: 30px 20px; 
		}		
		.box-form {
			label {font-size: 16px;}  
			textarea {
				padding: 18px; font-size: 14px;   
			}			
		}
	}
	.box-form {
		label {font-size: 16px;}  
		textarea {
			padding: 18px; font-size: 14px;   
		}
		.button {height: 40px; line-height: 40px; padding: 0;} 
	}

	.wrap-form {
		.head {
			height: 65px; 
			.wrapper {width: auto; margin: 0 20px;} 
			.left {width: 70px; margin: 12px 0 0 0;}  
			.right {font-size: 13px; margin: 25px 0 0 0;} 
		} 
		.wrapper {
			width: auto; margin: 0 20px; 
		}
		h2 {margin: 40px 0 10px 0; font-size: 20px; line-height: 26px; width: 100%;}
		h5 {width: auto; font-size: 13px; padding: 0 30px;}
		.box-form {
			input[type=text],
			input[type=email]{height:35px;font-size:14px;@include borderRadius(12px);}
			label {font-size: 14px; margin-bottom: 10px;} 
			.row {
				margin:0; 
				.col {width: 100%; margin: 0 0 20px 0;} 
			}
			.button {height: 35px; line-height: 35px; @include borderRadius(12px);} 
		}
		.voucher-right {
			width: auto; margin: 0 20px;
			h5 {font-size: 18px; margin: 0 0 0 0;} 
		}
	}

	footer {
		.wrapper {
			flex-flow: column; display: -webkit-flex; display: flex; -webkit-flex-flow: column;
		}
		.left {
			float: none; display: block; order:2; -webkit-order:2;  
			text-align: center; position: relative; padding: 85px 0 0 0;
			.socmed {
				width: 100%; height: auto; padding: 0 0 0 0; position: absolute; top: 0; 
				h5 {display: block; margin: 10px 0;}
				a {display: inline-block; float: none;}
			}
		}
		h5 {margin: 10px 0 20px 0;} 
		.right {
			float: none; display: block; order:1; -webkit-order:1;
			text-align: center; margin: 0 0 20px 0; 
			a {margin: 0 0 10px 0; display: inline-block;}
			.voucher {text-align: center;}
		}
	}

}